body {
  background: #f5f5f5;
  font-family: Meiryo;
  height: 90%;
  padding: 20px;
  text-align:left;
}
#map {
  height: 400px;
  width: 95%;
}
#question{
  list-style-type:none;
}  
.q{
  display: block;
  width: 70%;
}
